.div1{
    text-align: center;
    background-color:powderblue;
    width: 500px;
    height: 600px;    
    top: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    float: left;

}
.div2{
    float: right;
    width: 700px;
    height: 680px;
    background-color:powderblue;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: black ;
    padding: 50px;
}
.img1{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    padding: 2px;
}
.img2{
    border-radius: 50%;
    width: 10%;
    height: 10%;
    padding: 2px;
    
}
.profilepic{
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;

}
.h3tag{
    text-align: left;
}
.para{
    font-size: 15px;
}

.personal{
    text-align: left;
}
.tabletab{
    padding: 20px;;
}
.tab{
    border-collapse: collapse;
    
    border-style: solid;
    border-color:black;
}
.tab tr,td,th{
    border: 1px;
    border-style: solid;
    border-color:black;
}
.ull{
    text-align: left;
}
.all{
    text-align: left;
}
